body{
	background-image: linear-gradient(100deg,rgb(8, 90, 8), rgb(55, 160, 6));
   
}

 .form-login{
    padding-bottom:50px 0px;
}   

.vertical-offset-100{
    padding-top:100px;
}

.recuperar{
    margin-top: 25px;
    font-size: 12px;
    text-align: center;
}   